table {
    border: 1px solid sienna
}
td:hover {
    background-color: yellow;
    color: black;
}
tr, th {
    background-color: blue;
    color:antiquewhite;
}
tr, td {
    background-color: darkgreen;
    color:wheat;
}